@import "compass/reset";
@import "compass/css3";

body{
  background: #555;
  color: white;
  font-family: "HelveticaNeue","Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif;
  font-size: 85%;
  line-height: 160%;
}