@import "compass/reset";
@import "compass/css3";

body{
  background: #555;
  color: white;
  font-size: 140%;
  line-height: 140%;
}

a,
a:link,
a:visited{
  color: #f9f9f9;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,.3);
  font-weight: bold;
  @include transition(200ms all linear);
}

a:hover,
a:active{
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255,1);
}

h1,h2,h3,h4,h5,h6,p{
  margin-bottom: 1.5em;
}

input[type="text"],
textarea{
  width: 710px;
  display: block;
  padding: 10px;
  border-radius: 8px;
  border: 0;
  margin-bottom: 1px;
  outline: none;
  font-size: 110%;
  border: 3px solid #eee;
  @include box-shadow(rgba(0,0,7,1));
}

input[type="text"]{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

textarea{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: 6em;
}

label{
  margin: 10px 0;
  display: block;
}

input[type="text"]:focus,
textarea:focus{
  border: 3px solid #ddd;
  background: #f9f9f9;
}

input[type="submit"]{
  display: block;
  background: #222;
  color: white;
  font-weight: bold;
  font-size: 140%;
  border-radius: 8px;
  border: none;
  padding: 15px 10px;
  width: 737px;
  text-transform: uppercase;
  @include transition(80ms all linear);

  &:hover{
    background: #282828;
  }

  &:active{
    background: #ff1c24;
  }
}

#main{
  margin: 0 auto;
  width: 780px;
}

#title{
  width: 780px;
  height: 140px;
  background: url("../images/logo.png") no-repeat center center;
  margin-top: 60px;
  text-indent: -9999px;
  overflow: hidden;
  padding-bottom: 20px;
  border-bottom: 30px solid rgba(255,255,255,1);
  @include transition(200ms all linear);

  &:hover{
    border-bottom-color: rgba(145,250,230,.6);
  }
}

form{
  background: rgba(0,0,0,0.1);
  padding: 20px;
  margin-bottom: 20px;
  @include border-radius(20px);
}

footer{
  text-align: center;
  font-size: 74%;
}