  <footer>
    <h3>Pass the SASS is a simple web service provided by <a href="http://liftux.com">Lift</a> and <a href="http://upthemes.com">UpThemes</a>. All rights reserved. Copyright &copy; {{year}}</h3>
  </footer>