
<header>
  <h1 id="title">{{title}}</h1>
  <p>{{content}}</p>
</header>

<form action="/compile/" method="POST">
  <input name="vars" placeholder="SASS variables (e.g. $var1=example,$var2=#000,etc..)" type="text">
  <textarea name="sass" placeholder="Your SASS (e.g. #selector{ property:value })"></textarea>
  <label for="compass"><input name="compass" type="checkbox"> Are you using Compass?</label>
  <input name="submit" type="submit">
</form>


{{> footer}}