<!DOCTYPE html>
<html>
  <head>
    <title>
      {{title}}
    </title>
    <link href="/stylesheets/screen.css" type="text/css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div id="main">
      {{{yield}}}
    </div>
  </body>
</html>