<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="/stylesheets/screen.css" type="text/css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="http://use.typekit.com/pce4yhp.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <div id="main">
      {{{yield}}}
    </div>
  </body>
</html>