<!DOCTYPE html>
<html>
  <head>
    <title>
      {{title}}
    </title>
    <style>
      body { background: #eee; }
      form input, form textarea { display: block; margin: 0 0 20px; width: 450px;}
      form textarea {height: 150px;}
      form label, form input[type="checkbox"] {display: inline; width: auto; margin: 0 10px 20px 0;}
      form input[type="submit"] {width: auto;}
    </style>
  </head>
  <body>
    <div id="main">
      {{{yield}}}
    </div>
  </body>
</html>